body {
    text-align: center;
    display: grid;
    grid-template-rows: 0.5fr 1fr 6fr 0.25fr;
}

h4 {
    margin-left: 60px;
}

nav a {
    color: blue;
}

nav ul {
    background-color: white;
    padding: 25px;
    width: 100%;
}

section {
    margin-top: 50px;
}

section li {
    padding: 20px;
}

footer {
    background-color: white;
    color: black;
    bottom: 0;
}