body {
    text-align: center;
}
h4 {
    margin-left: 60px;
}
nav ul {
    background-color: white;
    padding: 25px;
    width: 100%;
}

section li {
    padding: 20px;
}

footer {
    background-color: white;
    bottom: 25px;
    color: black;
}