#home-page-title {
    font-size: 125px;
    font-weight: bold;
    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px rgb(64, 37, 138),
        0 0 82px rgb(166, 44, 105),
        0 0 92px rgb(255, 0, 225),
        0 0 102px rgb(255, 0, 238),
        0 0 151px rgb(255, 0, 221);
}


body {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items:center;
}

h2 {
    text-transform: capitalize;
    padding-top: 100px;
    font-size: 50px;
}

p {
    font-size: 30px;
    padding: 150px;
}

footer {
    font-size: 30px;
    align-self: center;
}

ul li {
    font-size: 30px;
}