ul {
    list-style: none;
    width: 100%;
}

ul li::before {
    margin-right: 5px;
    display: inline-block;
    width: 30px;
    height: 30px;
    content: "";
    background: url("/assets/images/sorting\ hat.jpeg");
    background-size:30px 30px;
}

li {
    display: list-item;
}